body {
  background: Ivory;
  color: Gray;
}

h1 {
  font-size: 35px;
  border-bottom: 2px solid Gray;
}

p {
  font-size: 16px;
  color: DarkBlue;
  background-color: Lavender;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: square;
}

.profile-image {
  width: 200px;
  height: 200px;
  border: 2px dotted Lavender;
}

.navigation {
  background-color: DarkSalmon;
}
