* {
  margin: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "article aside"
    "footer footer";
  background: Ivory;
  color: Gray;
  padding: 10px 20px 10px 20px;
}

h1 {
  font-size: 35px;
  border-bottom: 1px solid Gray;
}

p {
  font-size: 16px;
  color: DarkBlue;
  background-color: Lavender;
  padding: 10px 0px 10px 0px;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: square;
}

.profile-image {
  width: 200px;
  height: 200px;
  border: 2px dotted Lavender;
}

.navigation {
  background-color: DarkSalmon;
  padding: 10px 20px 10px 20px;
}

a {
  background-color: IndianRed;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
